<h1>Edit Secret Identity</h1>

<%= render 'form' %>

<span class="button-footer"><%= link_to 'Show', @secret_identity %> </span>
<span style="margin-left:10px;"class="button-footer"><%= link_to 'Back', secret_identities_path %></span>
