<h1>Edit Enemy</h1>

<%= render 'form' %>

<span class="button-footer"> <%= link_to 'Show', @enemy %> </span>
<span style="margin-left:10px;"class="button-footer"><%= link_to 'Back', enemies_path %> </span>
