<h1>Edit Comic</h1>

<%= render 'form' %>

<spam class="button-footer"><%= link_to 'More Details', @comic %> </spam>
<spam style="margin-left:10px;" class="button-footer"><%= link_to 'Back', comics_path %></spam>
