<h1>Edit Hero</h1>

<%= render 'form' %>

<span class="button-footer"> <%= link_to 'More details', @hero %></span>
<span style="margin-left:10px;"class="button-footer"><%= link_to 'Back', heros_path %> </span>
