<h1>Edit Association</h1>

<%= render 'form' %>

<spam class="button-footer"><%= link_to 'Show', @comics_hero %> </spam>
<spam style="margin-left:10px;"  class="button-footer"><%= link_to 'Back', comics_heros_path %><spam>
